.vs/VSWorkspaceState.json
.vs/STM32-SimHub.slnx/v18/ipch/AutoPCH/66e038ca2951fd0a/STM32-SIMHUB.ipch
.vs/STM32-SimHub.slnx/v18/DocumentLayout.json
.vs/STM32-SimHub.slnx/v18/Browse.VC.db
.vs/STM32-SimHub.slnx/v18/.wsuo
.vs/STM32-SimHub.slnx/FileContentIndex/5cdf899c-2dab-478c-8f6f-4f6f520c2474.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/4593b3f4-a29d-464e-914c-a32406cb8377.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/3214fc7c-b987-40e1-a41f-21bb20b4bc61.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/STM32-SimHub.slnx/v18/DocumentLayout.backup.json
.vs/STM32-SimHub.slnx/v18/Browse.VC.db-wal
.vs/STM32-SimHub.slnx/v18/Browse.VC.db-shm
.vs/STM32-SimHub.slnx/FileContentIndex/96b1209f-920a-479a-9322-30d726997782.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/6a2db410-4c64-407b-8a19-ef34ea75b13d.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/478cc84a-8d08-4353-839f-7aa9ef51da70.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/113e4d38-355a-4fd5-89da-d5a169dca918.vsidx
