.vs/VSWorkspaceState.json
.vs/STM32-SimHub.slnx/v18/ipch/AutoPCH/66e038ca2951fd0a/STM32-SIMHUB.ipch
.vs/STM32-SimHub.slnx/v18/DocumentLayout.json
.vs/STM32-SimHub.slnx/v18/Browse.VC.db
.vs/STM32-SimHub.slnx/v18/.wsuo
.vs/STM32-SimHub.slnx/FileContentIndex/5cdf899c-2dab-478c-8f6f-4f6f520c2474.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/4593b3f4-a29d-464e-914c-a32406cb8377.vsidx
.vs/STM32-SimHub.slnx/FileContentIndex/3214fc7c-b987-40e1-a41f-21bb20b4bc61.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
